<html>
  <head>
  <title>Eatzreader</title>
  </head>
<body id="main">
  <h1>Mensa Foodplan</h1>
  <ul>
    <li>Essen 1:     <span id="e1"> <%= essen1 %></span></li>
    <li>Essen 2:     <span id="e2"> <%= essen2 %>  </span></li>
    <li>Vegetarisch: <span id="veg"> <%= veg %> </span></li>
  </ul>
</body>
</html>
